/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, ol {
    list-style: none;
}
em, i, address {
    font-style: normal;
}
strong, b {
    font-weight: normal;
}
img {
    vertical-align: top;
    width: 100%;
}
input, button {
    background: none;
    border: none;
    outline: none;
}

/* 스킵메뉴 */
#skip a {
    position: absolute;
    left: 10px;
    top: -92px;
    z-index: 100000;
    font-size: 1rem;
    padding: 10px 30px;
    color: var(--white);
    background: var(--black);
}
#skip a:focus,
#skip a:active {
    top: 10px;
}

/* 800px 이상에서 왼쪽 공간 제거 */
@media (min-width: 800px) {
    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width: 100%;
    }
    
    #main {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }
    
    .hero-section,
    .about-section,
    .challenge-section,
    .projects-section,
    .experience-section,
    .site-section,
    .port-section,
    .contact-section {
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%);
        width: 100vw;
    }
}